body{
	background-color: blue;
	color: white;
	text-align: center;
}

img{
	width: 200px;
	height: 200px;
}

#chocie{
	margin-top: 50px;
}

button{
	color: transparent;
	border: none;
}
