body{
    background-color: #1b5b5b;
    color: #f7f7f7;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

input{
    background-color: transparent;
    color: black;
    font-size: 36px;
    background-position: center;
    text-align: center;
}

input[type="text"]{
    font-size:36px;
}

button{
    background-color:#4b5b5b;
    color: #c9d1c9 !important;
    font-size: 36px;
}

#itemInput{
    width: 100%;
    height: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    background-position: center;
    text-align:center;
    background-color: #3b3737;
    color: #f7f7f7;
}

#postItem{
    cursor: pointer;
    color:#1f2833;
}

label{
    height: 25px;
}

.listItemElement{
    display:inline-table;
    width: 25%;
    height: 25%;
    margin: 0px;
}

#checked{
    margin-top: 50px;
}

#listItems{
    margin-bottom: 50px;
}
